<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Insurance Enterprise GAP</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="client">Client </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="policy">Policies</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="assignedPolicies">Assigned Policies</a>
      </li>            
    </ul>
  </div>
</nav>

  <router-outlet></router-outlet>